﻿@using AuthenticationExample.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Authentication (Legacy)</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            @if (Context.Items["User"] != null)
            {
                <a class="navbar-brand" asp-area="" asp-controller="Secure" asp-action="Index">Home</a>
            }
            else
            {
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            }
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    @if (Context.Items["User"] != null
                        && ((User)Context.Items["User"]).IsAdmin)
                    {  
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Secure" asp-action="Admin">Admin Page</a>
                        </li>                                           
                    }
                    @if (Context.Items["User"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Secure" asp-action="Profile">Edit Profile</a>
                        </li>  
                    }                    
                </ul>
                <div class="form-inline mt-2 mt-md-0">
                    @if (Context.Items["User"] != null)
                    {
                        <span class="text-light mr-sm-3">Signed in as: <span class="signed-in-text">@(((User)Context.Items["User"]).Username)</span></span>                        
                        <span>&nbsp;</span>
                    }

                    @if (Context.Items["User"] == null)
                    {
                        <span class="badge badge-primary"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Sign In</a></span>
                    }
                    else
                    {
                        <span class="badge badge-secondary"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index" onclick="$('#SignOutForm').submit(); return false;"><strong>Sign Out</strong></a></span>                                
                    }
                </div>
            </div>
        </nav>
        
        <form id="SignOutForm" style="display: none;" action="@Url.Content("~/Home/SignOut")" method="post"></form>
        
        <div class="modal fade" id="sessionTimeoutModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sign-in Session Expiring</h5>
                        <button type="button" class="close" data-dismiss="modal" onclick="renewSession();">
                        <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        The current sign-in session will expire in <span id="remainingTimeLabel"></span>.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#SignOutForm').submit();">Sign Out</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="renewSession();">Continue Session</button>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Authentication (Legacy)
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)

    <script>        
        var baseUrl = '@Url.Content("~/")'
    </script>

    @if (Context.Items["User"] != null)
    {
        <script>
            initializeSessionTimeout()
        </script>
    }

</body>
</html>
