﻿@{
    ViewData["Title"] = "Secure Page - No Access";
}

<div class="jumbotron">
    <div class="container">
        <h1>Secure Page</h1>
        <p>Please contact an administrator to access this page.</p>
        <p><a class="btn btn-info btn-lg" asp-area="" asp-controller="Secure" asp-action="Index">&laquo; Go Back</a></p>
    </div>
</div>