﻿@using AuthenticationExample.Helpers
@model AuthenticationResult
@{
    ViewData["Title"] = "Sign In";   

    ViewBag.User = Context.Items["User"];     

    var username = string.Empty;
    var isInvalidCredentials = false;
    var isSignedOut = false;

    if (Model != null)
    {
        username = Model.Username;
        isInvalidCredentials = Model.AuthenticationResultType == AuthenticationResultType.InvalidCredentials;
        isSignedOut = Model.AuthenticationResultType == AuthenticationResultType.SignedOut;
    }
}

<div class="card mx-auto" style="width: 20rem;">
    <div class="card-header">
        Sign In
    </div>
    <div class="card-body">
        @if (isSignedOut)
        {
            <div class="alert alert-success">
                Successfully signed out.
            </div>
        }
        else if (isInvalidCredentials)
        {
            <div class="alert alert-danger">
                Sign in failed!
            </div>
        }

        <form method="post" action="@Url.Content("~/Home/SignIn")">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" value="@username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(function() {
            $('#username').focus()
        });
    </script>
}